<h1>Problemas</h1>
<table class="table table-striped">
  <tbody>
  	<% @issues.each do |issue|%>
    <tr>
      <td><p><strong><%= issue.title %></strong></p>
      	 <p> Creado por <%= issue.user.email%> el <%= issue.created_at %> </p>
      </td>
      <td><%= issue.open ? "Abierto" : "Cerrado" %></td>
      <td><%= link_to 'Ver', issue, class: "btn btn-secondary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
